body { margin-left: 11%; margin-right: 10%; line-height: 1.25; }
h1 { margin-bottom: 2em; font-weight: normal; text-align: center;
     font-size: 1.4em; margin-bottom: 0; }
h2 { text-align: center; font-weight: normal; page-break-before: always;
     font-size: 1.25em; margin-top: 3em; margin-bottom: 1em;
     margin-left: auto; margin-right: auto; }
p { text-indent: 1.15em; margin-top: 0.1em; margin-bottom: 0.1em;
    text-align: justify; }
p.no-indent { text-indent: 0; }
/* title page styling */
.mb10 { margin-bottom: 1.0em; }
.mt05 { margin-top: 0.5em; }
.fs12 { font-size: 1.2em; }
.fs14 { font-size: 1.4em; }
.tac { text-align: center; }
/* centering */
.titlepage
  { text-align: center; margin: 2em 0; }
.titlepage p
  { margin: 0.5em 0; }
/* front page separators */
.titlepage {
  border-bottom: 1px solid #999;
  padding-bottom: 2em;
}
/* transcriber's note */
.transcriber { 
  font-size: 0.9em; 
  border: 1px solid silver; 
  margin: 1.8em 8% 0;
  padding: 0.3em 2%; 
  background-color: #DDDDEE; 
}
.transcriber p { text-indent: 0; margin: 0; }

